<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>بروفايل عضو جمعية عمومية</title>
	<link rel="stylesheet" href="css/bootstrap-arabic-theme.min.css" />
	<link rel="stylesheet" href="css/bootstrap-arabic.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/admin/stylecrm.css">
	<link rel="stylesheet" href="css/admin/style.css">
	<link rel="stylesheet" href="css/profile.css">
	


	<link rel="stylesheet" href="css/tables/jquery.dataTables.min.css">
	<link rel="stylesheet" href="css/tables/buttons.dataTables.min.css">
	<link rel="stylesheet" href="css/tables/responsive.dataTables.min.css">
	<link rel="stylesheet" href="css/tables/table.css">

	<style>
		
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			/*	background: #60a3bc !important;*/
			/*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
			background-image: url(img/background-login.png);
			background-size: 100% 100%;
			background-position: center center;
		}
		

	</style>




</head>
<body>

	<section class="charity-login">
		<div class="container-center">    
			<div id="loginbox"  class="mainbox">                    
				<div class="panel panel-success" >
					<div class="panel-heading">
						<div class="panel-title">تسجيل الدخول</div>
					</div>     

					<div  class="panel-body" >

						<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

						<form id="loginform" class="form-horizontal" role="form">

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="إسم المستخدم">                                        
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input id="login-password" type="password" class="form-control" name="password" placeholder="كلمة المرور">
							</div>



							<!-- <div class="input-group">
								<div class="check-style">
									
									<input id="login-remember" type="checkbox" name="remember" value="1"> <label for="login-remember"> تذكرنى </label>
									
								</div>
							</div> -->


							<div style="margin-top:10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls text-center">
									<a id="btn-login" href="#" class="btn btn-success btn-labeled"><span class="btn-label"><i class="fa fa-sign-in"></i></span> الدخول  </a>
								</div>
							</div>


							<div class="form-group">
								<div class="col-md-12 control text-center">
									<div style="border-top: 1px solid#888; padding-top:15px;" >
										<a href="#" style="font-size: 18px" onClick="$('#loginbox').hide(); $('#signupbox').show()">
											الجمعية الخيرية لرعاية الأيتام ببريدة - أبناء
										</a>
									</div>
								</div>
							</div>    
						</form>     



					</div>                     
				</div>  
			</div>
			<div class="text-center">
				<div class="counter-icon">
					<!--<i class="fa fa-user"></i>-->
					<img src="img/piece_logo.png">
				</div>
			</div>

		</div>
	</section>




	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script src="js/bootstrap-arabic.min.js"></script>

	





</body>
</html>
